.bot {
  background-color: rgb(226, 224, 224);
  border-radius: 20px;
  padding: 20px;
}
.user {
  background-color: rgb(247, 241, 241);
  border-radius: 20px;
  padding: 20px;
}
.input {
  position: relative;
}
.form {
  width: 70%;
  position: fixed;
  bottom: 2px;
}
